@use "../base/base" as *;

.header {
  background-color: var(--color-primary-dark);
  border-radius: var(--default-border-dradius);
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: minmax(min-content, 1.5fr) minmax(min-content, 1fr);
  padding: 8rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: minmax(min-content, 1fr);
    // grid-template-rows: min-content 10rem;
    justify-items: center;
    text-align: center;
    padding: 10rem 4rem;
  }

  &__content {
    grid-column: 1 / 2;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }
  }

  &__image {
    grid-column: 2 / -1;
    width: 50%;
    margin-left: 6rem;
    // transform: translateY(-1rem);

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      width: 25%;
      margin-left: 0;
      margin-top: 3rem;
    }

    @media only screen and (max-width: $bp-small) { 
      width: 30%; 
    }

    @media only screen and (max-width: $bp-small) { 
      width: 40%; 
    }

    & img {
      width: 100%;
      border: 2px solid var(--color-grey-light);
      border-radius: var(--default-border-dradius);
      transform: rotate(-5deg);
      transition: all 0.3s;

      &:hover {
        transform: rotate(0);
      }
    }
  }
}

.social__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2.4rem;
  fill: var(--color-grey-light);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2) translateY(-20%) !important;
    fill: #48cae4;
  }
}
